<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:align="center">
<h1>로그인</h1>
<form method="post">
  <table>
    <tr>
      <td bgcolor="#ffebcd">아이디</td>
      <td><input type="text" name="username" /></td>
    </tr>
    <tr>
      <td bgcolor="#ffebcd">비밀번호</td>
      <td><input type="text" name="password" /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" value="로그인" /></td>
    </tr>
  </table>
</form>
</body>
</html>